/*---Name Outline Text---*/
.me {
  visibility:hidden;
  text-align: center;
  font-family: 'montserrat_alternatesBlkIt', 'Montserrat Alternates', sans-serif;
  font-size: 8vmax;
  letter-spacing:1.2px;
  -webkit-background-clip: text;
  background-clip: text;
  padding:0 2%;
  -moz-text-stroke: 2px rgba(229,225,221,.8);
  -webkit-text-stroke: 2px rgba(229,225,221,.8);
  -moz-text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
}
.me span {
  opacity: 0;
  -moz-transition: .5s all ease-out;
  -webkit-transition: .5s all ease-out;
  transition: .5s all ease-out;
}
.me span:nth-child(0) {
  visibility:visible;
  -moz-transition-delay: 1s;
  -webkit-transition-delay: 1s;
          transition-delay: 1s;
}
.me span:nth-child(1) {
  visibility:visible;
  -moz-transition-delay: 1.25s;
  -webkit-transition-delay: 1.25s;
          transition-delay: 1.25s;
}
.me span:nth-child(2) {
  visibility:visible;
  -moz-transition-delay: 1.5s;
  -webkit-transition-delay: 1.5s;
          transition-delay: 1.5s;
}
.me span:nth-child(3) {
  visibility:visible;
  -moz-transition-delay: 1.75s;
  -webkit-transition-delay: 1.75s;
          transition-delay: 1.75s;
}
.me span:nth-child(4) {
  visibility:visible;
  -webkit-transition-delay: 2s;
          transition-delay: 2s;
}
.me span:nth-child(5) {
  visibility:visible;
  -moz-transition-delay: 2.25s;
  -webkit-transition-delay: 2.25s;
          transition-delay: 2.25s;
}
.me span:nth-child(6) {
  visibility:visible;
  -moz-transition-delay: 2.5s;
  -webkit-transition-delay: 2.5s;
          transition-delay: 2.5s;
}
.me span:nth-child(7) {
  visibility:visible;
  -moz-transition-delay: 2.75s;
  -webkit-transition-delay: 2.75s;
          transition-delay: 2.75s;
}
.me span:nth-child(8) {
  visibility:visible;
  -moz-transition-delay: 3s;
  -webkit-transition-delay: 3s;
          transition-delay: 3s;
}
.me span:nth-child(9) {
  visibility:visible;
  -moz-transition-delay: 3.25s;
  -webkit-transition-delay: 3.25s;
          transition-delay: 3.25s;
}
.me span:nth-child(10) {
  visibility:visible;
  -moz-transition-delay: 3.5s;
  -webkit-transition-delay: 3.5s;
          transition-delay: 3.5s;
}
.me span:nth-child(11) {
  visibility:visible;
  -moz-transition-delay: 3.75s;
  -webkit-transition-delay: 3.75s;
          transition-delay: 3.75s;
}
.me span:nth-child(12) {
  visibility:visible;
  -moz-transition-delay: 4s;
  -webkit-transition-delay: 4s;
          transition-delay: 4s;
}
.me span:nth-child(13) {
  visibility:visible;
  -moz-transition-delay: 4.25s;
  -webkit-transition-delay: 4.25s;
          transition-delay: 4.25s;
}
.me span:nth-child(14) {
  visibility:visible;
  -moz-transition-delay: 4.5s;
  -webkit-transition-delay: 4.5s;
          transition-delay: 4.5s;
}
.me span:nth-child(15) {
  visibility:visible;
  -moz-transition-delay: 4.75s;
  -webkit-transition-delay: 4.75s;
          transition-delay: 4.75s;
}
.me span:nth-child(16) {
  visibility:visible;
  -moz-transition-delay: 5s;
  -webkit-transition-delay: 5s;
          transition-delay: 5s;
}
.me span:nth-child(17) {
  visibility:visible;
  -moz-transition-delay: 5.25s;
  -webkit-transition-delay: 5.25s;
          transition-delay: 5.25s;
}
.me span:nth-child(18) {
  visibility:visible;
  -moz-transition-delay: 5.5s;
  -webkit-transition-delay: 5.5s;
          transition-delay: 5.5s;
}
.me span:nth-child(19) {
  visibility:visible;
  -moz-transition-delay: 5.75s;
  -webkit-transition-delay: 5.75s;
          transition-delay: 5.75s;
}
.me span:nth-child(20) {
  visibility:visible;
  -moz-transition-delay: 6s;
  -webkit-transition-delay: 6s;
          transition-delay: 6s;
}
.me.animate span {
  opacity: 1;
}

@media only screen and (max-width: 1100px){
	.me {
		-moz-text-stroke: 1px rgba(229,225,221,.8);
  		-webkit-text-stroke: 1px rgba(229,225,221,.8);
	}
}
