/*-----------Portfolio Project Styles----------*/
/*Site Fonts*/
@font-face {
  font-family: 'montserrat_alternatesBlkIt';
  src: url("../fonts/Montserrat_Alternates/webfontkit/montserratalternates-blackitalic-webfont.woff2") format("woff2"), url("../fonts/Montserrat_Alternates/webfontkit/montserratalternates-blackitalic-webfont.woff") format("woff"), url("../fonts/Montserrat_Alternates/MontserratAlternates-BlackItalic.ttf") format("ttf");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'promptregular';
  src: url("../fonts/Prompt/webfontkit/prompt-regular-webfont.woff2") format("woff2"), url("../fonts/Prompt/webfontkit/prompt-regular-webfont.woff") format("woff") url("../fonts/Prompt/Prompt-Regular.ttf") format("ttf");
  font-weight: normal;
  font-style: normal; }
/*---------------- Navigation -------------*/
/* Navigation Before Scroll Styles */
.navbar {
  margin: -8px -8px 0 -8px;
  padding: 30px 0 0 0;
  background: transparent;
  z-index: 5;
  position: fixed;
  width: 100%;
  -webkit-box-shadow: 0px 0px 0px 0px rgba(75, 75, 75, 0.3);
  -moz-box-shadow: 0px 0px 0px 0px rgba(75, 75, 75, 0.3);
  box-shadow: 0px 0px 0px 0px rgba(75, 75, 75, 0.3);
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  transition: all .3s ease; }
  .navbar a {
    text-decoration: none;
    color: #ececec; }
    .navbar a:hover {
      color: #ffffff; }
  .navbar ul {
    -webkit-padding-start: 0px; }
  .navbar .bgGradient1, .navbar .bgGradient2, .navbar .bgGradient3 {
    display: none; }

.navbar-header {
  display: none; }

.navbar-links-container {
  text-align: center; }

.navbar-links ul {
  list-style-type: none; }
.navbar-links li {
  font-size: 1.3em;
  font-family: 'promptregular', 'Prompt', sans-serif;
  letter-spacing: 1.1px;
  display: inline-block;
  padding-left: .5%;
  padding-right: .5%; }

.link {
  border-top: 1px solid #ffffff;
  padding-top: 15px;
  padding-bottom: 15px;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out; }
  .link:hover {
    color: #ffffff;
    border-top-width: 7px;
    padding-top: 9px; }

/* Navigation After Scroll Styles */
.nav-scroll {
  padding: 20px 0 0 0;
  -webkit-box-shadow: 0px 0px 1px 2px rgba(75, 75, 75, 0.3);
  -moz-box-shadow: 0px 0px 1px 2px rgba(75, 75, 75, 0.3);
  box-shadow: 0px 0px 1px 2px rgba(75, 75, 75, 0.3);
  background-color: #000;
  overflow: hidden; }
  .nav-scroll .navbar-header {
    display: inline;
    position: absolute;
    left: 2%;
    top: 31%; }
    .nav-scroll .navbar-header a {
      font-size: 2em;
      font-weight: bold;
      font-family: 'montserrat_alternatesBlkIt', 'Montserrat Alternates', sans-serif;
      text-decoration: none;
      letter-spacing: 1.8px;
      -webkit-background-clip: text;
      background-clip: text;
      -moz-text-stroke: 1px rgba(229, 225, 221, 0.8);
      -webkit-text-stroke: 1px rgba(229, 225, 221, 0.8);
      -moz-text-fill-color: transparent;
      -webkit-text-fill-color: transparent;
      -webkit-transition: all .5s ease-in-out;
      -moz-transition: all .5s ease-in-out;
      -o-transition: all .5s ease-in-out;
      transition: all .5s ease-in-out; }
      .nav-scroll .navbar-header a:hover {
        -moz-text-stroke: 1px #ffffff;
        -webkit-text-stroke: 1px #ffffff; }
  .nav-scroll .active {
    color: #ffffff;
    border-top-width: 7px;
    padding-top: 9px; }
  .nav-scroll .bgGradient1, .nav-scroll .bgGradient2, .nav-scroll .bgGradient3 {
    display: block; }
  .nav-scroll .link {
    position: relative;
    z-index: 10; }

/* Mobile Navigation */
#navbar-brand-sm {
  display: none; }

@media only screen and (max-width: 768px) {
  #navbar-brand-lg {
    display: none; }

  #navbar-brand-sm {
    display: inline;
    margin-left: 4%; }

  .navbar-links li {
    font-size: 1em; } }
@media only screen and (max-width: 425px) {
  #navbar-brand-lg {
    display: none; }

  #navbar-brand-sm {
    margin-left: 1%; }

  .navbar-header a {
    font-size: 1.8em; }

  .navbar-links li {
    font-size: .9em; } }
/*--------Down Arrow Button Animation-------*/
.pulseBtnArrow {
  margin-top: 30px;
  text-align: center;
  font-size: 2em;
  text-decoration: none;
  cursor: pointer;
  color: #555555;
  -moz-animation: arrowBtnPulse 4s infinite;
  -webkit-animation: arrowBtnPulse 4s infinite;
  -o-animation: arrowBtnPulse 4s infinite;
  animation: arrowBtnPulse 4s infinite;
  -webkit-transition: all 2s ease;
  -moz-transition: all 2s ease;
  -o-transition: all 2s ease;
  transition: all 2s ease; }
  .pulseBtnArrow:hover {
    -webkit-animation: none;
    animation: none;
    color: #000000; }
  .pulseBtnArrow:active {
    transform: scale(0.9); }

@-webkit-keyframes arrowBtnPulse {
  0% {
    -moz-transform: scale(0.9) translateY(0);
    -ms-transform: scale(0.9) translateY(0);
    -webkit-transform: scale(0.9) translateY(0);
    transform: scale(0.9) translateY(0);
    opacity: 0; }
  50% {
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1; }
  100% {
    -moz-transform: scale(0.9) translateY(150px);
    -ms-transform: scale(0.9) translateY(150px);
    -webkit-transform: scale(0.9) translateY(150px);
    transform: scale(0.9) translateY(150px);
    opacity: 0; } }
@-moz-keyframes arrowBtnPulse {
  0% {
    -moz-transform: scale(0.9) translateY(0);
    -ms-transform: scale(0.9) translateY(0);
    -webkit-transform: scale(0.9) translateY(0);
    transform: scale(0.9) translateY(0);
    opacity: 0; }
  50% {
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1; }
  100% {
    -moz-transform: scale(0.9) translateY(150px);
    -ms-transform: scale(0.9) translateY(150px);
    -webkit-transform: scale(0.9) translateY(150px);
    transform: scale(0.9) translateY(150px);
    opacity: 0; } }
@keyframes arrowBtnPulse {
  0% {
    -moz-transform: scale(0.9) translateY(0);
    -ms-transform: scale(0.9) translateY(0);
    -webkit-transform: scale(0.9) translateY(0);
    transform: scale(0.9) translateY(0);
    opacity: 0; }
  50% {
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1; }
  100% {
    -moz-transform: scale(0.9) translateY(150px);
    -ms-transform: scale(0.9) translateY(150px);
    -webkit-transform: scale(0.9) translateY(150px);
    transform: scale(0.9) translateY(150px);
    opacity: 0; } }
@media only screen and (max-width: 700px) {
  .pulseBtnArrow {
    font-size: 1em; } }
/*----------------- Section Headers -----------------*/
.about-section h2, .projects-section h2, .contact-section h2 {
  font-size: 2.7em;
  font-family: 'montserrat_alternatesBlkIt', 'Montserrat Alternates', sans-serif;
  letter-spacing: 1.3px;
  color: #636363;
  padding-bottom: 2%; }

@media only screen and (max-width: 1024px) {
  .about-section h2, .projects-section h2, .contact-section h2 {
    font-size: 2.4em; } }
@media only screen and (max-width: 700px) {
  .about-section h2, .projects-section h2, .contact-section h2 {
    font-size: 2em; } }
@media only screen and (max-width: 425px) {
  .about-section h2, .projects-section h2, .contact-section h2 {
    font-size: 1.5em; } }
/*----------------- Intro Section ----------------*/
h1:first-child {
  margin-top: 140px; }

.intro-section {
  height: 100%;
  padding-top: 8%;
  padding-bottom: 8%;
  text-align: center;
  margin-left: -8px;
  margin-right: -8px;
  margin-top: -8px; }
  .intro-section .row {
    display: -ms-flex;
    display: -webkit-flex;
    display: flex;
    justify-content: center; }
    .intro-section .row a {
      margin-bottom: 30px; }
  .intro-section .pulseBtnArrow {
    color: #c8c8c8; }
    .intro-section .pulseBtnArrow:hover {
      -webkit-animation: none;
      animation: none;
      color: #ffffff; }

/*Fade in text on page load animation*/
.fadeInText {
  color: rgba(248, 237, 237, 0.8);
  font-size: 2.4em;
  font-family: 'promptregular', 'Prompt', sans-serif;
  letter-spacing: 1.1px;
  padding: 0 2%;
  -moz-animation: 6s ease 0s normal forwards 1 fadein;
  -webkit-animation: 6s ease 0s normal forwards 1 fadein;
  -o-animation: 6s ease 0s normal forwards 1 fadein;
  animation: 6s ease 0s normal forwards 1 fadein; }

@-moz-keyframes fadein {
  0% {
    opacity: 0; }
  20% {
    opacity: 0; }
  40% {
    opacity: 0; }
  60% {
    opacity: .25; }
  80% {
    opacity: .5; }
  100% {
    opacity: 1; } }
@-webkit-keyframes fadein {
  0% {
    opacity: 0; }
  20% {
    opacity: 0; }
  40% {
    opacity: 0; }
  60% {
    opacity: .25; }
  80% {
    opacity: .5; }
  100% {
    opacity: 1; } }
@-o-keyframes fadein {
  0% {
    opacity: 0; }
  20% {
    opacity: 0; }
  40% {
    opacity: 0; }
  60% {
    opacity: .25; }
  80% {
    opacity: .5; }
  100% {
    opacity: 1; } }
@keyframes fadein {
  0% {
    opacity: 0; }
  20% {
    opacity: 0; }
  40% {
    opacity: 0; }
  60% {
    opacity: .25; }
  80% {
    opacity: .5; }
  100% {
    opacity: 1; } }
/*Pulse Learn More Button*/
#pulseBtn {
  display: inline-block;
  border-radius: 5px;
  padding: 7px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.3);
  color: #d6d6d6;
  font-family: 'promptregular', 'Prompt', sans-serif;
  letter-spacing: 1.5px;
  font-weight: bold;
  font-size: 18px;
  border: none;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  transform: scale(1);
  -moz-animation: btnPulse 2.7s ease-in-out 1s infinite;
  -webkit-animation: btnPulse 2.7s ease-in-out 1s infinite;
  -o-animation: btnPulse 2.7s ease-in-out 1s infinite;
  animation: btnPulse 2.7s ease-in-out 1s infinite;
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out; }
  #pulseBtn:hover {
    -moz-animation: none;
    -webkit-animation: none;
    -o-animation: none;
    animation: none;
    background-color: rgba(0, 0, 0, 0.6); }
  #pulseBtn:active {
    transform: scale(0.9); }

@-webkit-keyframes btnPulse {
  0% {
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1); }
  50% {
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -webkit-transform: scale(0.9);
    transform: scale(0.9); }
  100% {
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1); } }
@-moz-keyframes btnPulse {
  0% {
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1); }
  50% {
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -webkit-transform: scale(0.9);
    transform: scale(0.9); }
  100% {
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1); } }
@keyframes btnPulse {
  0% {
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1); }
  50% {
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -webkit-transform: scale(0.9);
    transform: scale(0.9); }
  100% {
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1); } }
/*Fade In Buttons and Navigation Animation*/
.fadeInBtn {
  -moz-animation: 7s ease 0s normal forwards 1 fadeInBtn;
  -webkit-animation: 7s ease 0s normal forwards 1 fadeInBtn;
  -o-animation: 7s ease 0s normal forwards 1 fadeInBtn;
  animation: 7s ease 0s normal forwards 1 fadeInBtn; }

@-moz-keyframes fadeInBtn {
  0% {
    opacity: 0; }
  20% {
    opacity: 0; }
  40% {
    opacity: 0; }
  50% {
    opacity: 0; }
  60% {
    opacity: 0; }
  70% {
    opacity: .25; }
  80% {
    opacity: .5; }
  90% {
    opacity: .75; }
  100% {
    opacity: 1; } }
@-webkit-keyframes fadeInBtn {
  0% {
    opacity: 0; }
  20% {
    opacity: 0; }
  40% {
    opacity: 0; }
  50% {
    opacity: 0; }
  60% {
    opacity: 0; }
  70% {
    opacity: .25; }
  80% {
    opacity: .5; }
  90% {
    opacity: .75; }
  100% {
    opacity: 1; } }
@-o-keyframes fadeInBtn {
  0% {
    opacity: 0; }
  20% {
    opacity: 0; }
  40% {
    opacity: 0; }
  50% {
    opacity: 0; }
  60% {
    opacity: 0; }
  70% {
    opacity: .25; }
  80% {
    opacity: .5; }
  90% {
    opacity: .75; }
  100% {
    opacity: 1; } }
@keyframes fadeInBtn {
  0% {
    opacity: 0; }
  20% {
    opacity: 0; }
  40% {
    opacity: 0; }
  50% {
    opacity: 0; }
  60% {
    opacity: 0; }
  70% {
    opacity: .25; }
  80% {
    opacity: .5; }
  90% {
    opacity: .75; }
  100% {
    opacity: 1; } }
@media only screen and (max-width: 1100px) {
  .fadeInText {
    font-size: 1.9em; } }
@media only screen and (max-width: 768px) {
  .fadeInText {
    font-size: 1.7em;
    padding: 0 1%; } }
@media only screen and (max-width: 550px) {
  .fadeInText {
    font-size: 1.2em; } }
@media screen and (max-width: 850px) and (orientation: landscape) {
  h1:first-child {
    margin-top: 10%; } }
/*----------------- About Section -----------------*/
.about-section {
  padding-top: 60px;
  text-align: center;
  background: #fff; }
  .about-section .row {
    padding-bottom: 20px;
    display: -ms-flex;
    display: -webkit-flex;
    display: flex;
    justify-content: center; }
    .about-section .row a {
      margin-bottom: 30px; }

#about .col-3 {
  padding-top: 1%;
  padding-left: 8%;
  flex: 25%;
  max-width: 25%; }

#about .col-9 {
  flex: 75%;
  max-width: 75%;
  padding-right: 15%;
  padding-left: 5%; }

#about p:first-child {
  padding-top: 7%; }

#about p {
  font-family: 'promptregular', 'Prompt', sans-serif;
  font-size: 1.2em;
  letter-spacing: 1.2px;
  line-height: 1.6em;
  padding-bottom: 3%;
  color: #555555; }

@media only screen and (max-width: 1200px) {
  #about .row {
    -webkit-flex-flow: row wrap;
    -moz-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap; }

  #about .col-3, #about .col-9 {
    flex: 100%;
    max-width: 100%;
    padding: 0 5%; }

  #about .col-9 {
    padding: 0 8%; }

  #about img {
    display: inline; } }
@media only screen and (max-width: 500px) {
  #about img {
    display: none; }

  #about .col-9 {
    padding: 0 1%; }

  #about p {
    font-size: 16px; } }
/*----------------- Projects Section -----------------*/
.projects-section {
  padding-top: 60px;
  text-align: center;
  background: #eee;
  margin-left: -8px;
  margin-right: -8px; }
  .projects-section .row {
    padding-bottom: 20px;
    display: -ms-flex;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    -webkit-flex-flow: row wrap;
    -moz-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap; }
    .projects-section .row a {
      margin-bottom: 30px; }

#projects .col-3 a:link, #projects .col-3 a:visited, #projects .col-3 a:hover, #projects .col-3 a:active {
  text-decoration: none;
  color: #555555;
  font-family: 'promptregular', 'Prompt', sans-serif;
  letter-spacing: 1px;
  font-size: 1.2em; }

.card-title {
  font-weight: bold;
  font-style: italic;
  letter-spacing: 1.4px;
  font-size: 1.3em; }

#projects .col-3 {
  flex: 27%;
  max-width: 27%;
  padding: 25px;
  border-radius: 3px; }

.card {
  max-width: 450px;
  margin: 0 auto;
  height: 100%;
  background-color: #ffffff;
  border-radius: 7px;
  -webkit-box-shadow: 0px 0px 1px 0px rgba(75, 75, 75, 0.75);
  -moz-box-shadow: 0px 0px 1px 0px rgba(75, 75, 75, 0.75);
  box-shadow: 0px 0px 1px 0px rgba(75, 75, 75, 0.75);
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }
  .card:active {
    transform: scale(0.9); }
  .card:hover {
    -webkit-box-shadow: 0px 4px 27px 5px rgba(75, 75, 75, 0.85);
    -moz-box-shadow: 0px 4px 27px 5px rgba(75, 75, 75, 0.85);
    box-shadow: 0px 4px 27px 5px rgba(75, 75, 75, 0.85); }
  .card:hover > .card-block .card-icon {
    -webkit-filter: invert(0%);
    filter: invert(0%); }

.card-block {
  padding: 1% 3% 3% 3%;
  background-color: #ffffff;
  text-align: left;
  border-radius: 0 0 7px 7px;
  border-top: 1px solid #dfdfdf;
  position: relative; }

.card-icon {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 36px;
  -webkit-filter: invert(40%);
  filter: invert(40%);
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out; }

.img-responsive {
  margin: 0 auto;
  display: block;
  max-width: 100%;
  height: auto; }

.card-img-top {
  border-radius: 7px 7px 0 0; }

.guestLogin {
  color: #CECECE;
  font-size: 13px;
  font-family: 'promptregular', 'Prompt', sans-serif;
  margin-top: 1%; }

@media only screen and (max-width: 1050px) {
  #projects .col-3 {
    flex: 45%;
    max-width: 45%; }

  #projects .col-3 a:link, #projects .col-3 a:visited, #projects .col-3 a:hover, #projects .col-3 a:active {
    font-size: 1em; } }
@media only screen and (max-width: 700px) {
  #projects .col-3 {
    flex: 100%;
    max-width: 100%; } }
/*----------------- Contact Section -----------------*/
.contact-section {
  height: 100%;
  padding-top: 60px;
  padding-bottom: 90px;
  background: #fff; }
  .contact-section .row {
    display: -ms-flex;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 35%; }

.contact-section .row:nth-child(5) {
  padding-top: 2%; }

#contact h2 {
  text-align: center; }

#contact h3 {
  text-align: center; }

#contact h3 {
  font-weight: normal;
  color: #555555;
  letter-spacing: 1.1px;
  font-size: 1.3em;
  font-family: 'promptregular', 'Prompt', sans-serif; }

#contact .col-12 {
  flex: 100%;
  max-width: 100%;
  padding: 6px; }

#contact .repoLinks {
  text-align: center;
  padding-bottom: 2%; }

.repoLinks a {
  font-family: 'promptregular', 'Prompt', sans-serif;
  letter-spacing: 0.05em;
  text-align: center;
  display: inline-block;
  font-size: 12px;
  color: #555555;
  text-decoration: none; }
  .repoLinks a:hover {
    color: #000000; }
  .repoLinks a:active {
    color: #000000; }

.repoLinks a img {
  display: block;
  width: 50px;
  padding: 0 5px;
  -webkit-filter: invert(50%);
  filter: invert(50%);
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out; }
  .repoLinks a img:hover {
    -webkit-filter: invert(0%);
    filter: invert(0%); }
  .repoLinks a img:active {
    transform: scale(0.9); }

.repoLinks a:first-child img {
  width: 47px; }

form {
  font-family: 'promptregular', 'Prompt', sans-serif;
  font-size: 1.3em;
  letter-spacing: 0.05em;
  margin-bottom: 8%; }

label {
  text-align: left;
  font-weight: normal;
  color: #555555;
  letter-spacing: 1.1px;
  font-family: 'promptregular', 'Prompt', sans-serif; }

input[type="text"], #commentTextarea {
  -webkit-appearance: none;
  font-family: 'promptregular', 'Prompt', sans-serif;
  font-size: medium;
  letter-spacing: 0.05em;
  width: 100%;
  border-radius: 7px;
  border: thin solid #d6d6d6;
  padding: .8%; }

input::placeholder {
  color: #d6d6d6;
  font-style: italic; }

input[type="reset"], input[type="submit"] {
  -webkit-appearance: none;
  margin-left: 2%;
  margin-right: 2%;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'promptregular', 'Prompt', sans-serif;
  font-size: 1.25em;
  letter-spacing: 0.05em;
  font-size: 18px;
  border: none;
  color: #F4F4F0;
  background-color: rgba(0, 0, 0, 0.3);
  -webkit-transition: .4s ease-in-out;
  -moz-transition: .4s ease-in-out;
  -o-transition: .4s ease-in-out;
  transition: .4s ease-in-out; }
  input[type="reset"]:hover, input[type="submit"]:hover {
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.6); }
  input[type="reset"]:active, input[type="submit"]:active {
    transform: scale(0.9); }
  input[type="reset"]:active, input[type="reset"]:visited, input[type="reset"]:focus, input[type="submit"]:active, input[type="submit"]:visited, input[type="submit"]:focus {
    outline: none; }

input[type="submit"] {
  background-color: rgba(0, 0, 0, 0.5); }

.copyright {
  text-align: center;
  color: #CECECE;
  font-size: 13px;
  font-family: 'promptregular', 'Prompt', sans-serif; }

.bar {
  padding-left: 8px;
  padding-right: 7px;
  font-size: 1.1em; }

#errors {
  font-size: .8em;
  color: #D06666; }

@media only screen and (max-width: 1300px) {
  #contact .row {
    -webkit-flex-flow: row wrap;
    -moz-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    width: 55%; }

  .contact-section .row:nth-child(5) {
    padding-top: 3%; } }
@media only screen and (max-width: 768px) {
  form {
    font-size: 1.1em;
    margin-bottom: 10%; }

  #contact .row {
    width: 75%; }

  #contact h3 {
    font-size: 1.2em; } }
@media only screen and (max-width: 550px) {
  form {
    font-size: 1em; }

  #contact .row {
    width: 95%; }

  #contact h3 {
    font-size: 1.1em; }

  .copyright {
    font-size: 11px; } }
/*-------Up Page Button-------*/
#topButton {
  position: fixed;
  bottom: 5%;
  right: 2%;
  z-index: 2;
  border-radius: 5px;
  font-family: Georgia;
  color: #f8f8f8;
  font-size: 26px;
  line-height: initial;
  background: rgba(0, 0, 0, 0.6);
  padding: 6px 10px 1px 10px;
  -webkit-box-shadow: 0px 0px 12px 2px rgba(75, 75, 75, 0.5);
  -moz-box-shadow: 0px 0px 12px 2px rgba(75, 75, 75, 0.5);
  box-shadow: 0px 0px 12px 2px rgba(75, 75, 75, 0.5);
  text-decoration: none;
  -webkit-transition: 0.6s ease;
  -moz-transition: 0.6s ease;
  -o-transition: 0.6s ease;
  transition: 0.6s ease; }
  #topButton:hover {
    background: rgba(0, 0, 0, 0.8);
    color: #ffffff;
    text-decoration: none; }
  #topButton:active {
    transform: scale(0.9); }

/*# sourceMappingURL=portfolioStyles.css.map */
