/*--BEERate ADD Styles--*/
/*--Headings--*/
	h2{
		color:#ffffff;
		font-weight:bold;
		padding-top:3%;
		padding-bottom:3%;
		text-align:center;
		background:#F6D444;
		margin-top:0px;
		margin-bottom:4%;
		font-size:1.8em;}
	h3{
		text-align:center;}
		
/*--Add Form--*/		
	#formContainer{
		width: 60%;
		margin:1% auto;
		border-radius: 3px;
		padding-bottom:1em;
		-moz-box-shadow:0 0 5px #7F7F7F;
		-webkit-box-shadow:0 0 5px #7F7F7F;
		box-shadow:0 0 5px #7F7F7F;}
	.sec{
		width:60%;
		margin:3% auto;}
	.col2{
		text-align:left;
		display:block;
		font-size:1.1em;}
	.col10{
		display:block;
		margin:1% auto;}
	.col12{
		width:100%;
		margin:1% auto;}
	.col10 .textBox,.col12 .noteBox{
		width:100%;
		border-radius:3px;
		border:none;
		padding:1% 1%;
		-moz-box-shadow:0 0 5px #7F7F7F;
		-webkit-box-shadow:0 0 5px #7F7F7F;
		box-shadow:0 0 5px #7F7F7F;
		font-size:1.1em;
		letter-spacing: 0.05em;}
	.col10 .textBox2,.col10 .dropdown{
		width:60%;
		border-radius:3px;
		border:none;
		padding:1% 1%;
		-moz-box-shadow:0 0 5px #7F7F7F;
		-webkit-box-shadow:0 0 5px #7F7F7F;
		box-shadow:0 0 5px #7F7F7F;
		font-size:1.1em;
		letter-spacing: 0.05em;}
	.noteLabel{
		font-size:1.1em;}
	input[type="text"], input[type="button"], input[type="reset"], input[type="file"], textarea {
		-webkit-appearance: none;
	}
	.note {
		font-size:11px;
		color: #5f5f5f;
	}

/*--Form JQuery UI Sliders--*/
	#slider1,#slider2{
		width:100%;
		margin:0 auto;}

/*--Form Star Rating Radio--*/
	.rating {
		unicode-bidi: bidi-override;
		direction: rtl;
		width: 12em;
		margin:2% auto;
		text-align:center;}
	.rating p{
		margin-bottom:12px;
		font-size:1.1em;}
	.rating input {
		position: absolute;
		left: -999999px;}
	.rating label {
		display: inline-block;
		font-size: 0;}
	.rating > label:before {
		position: relative;
		font: 24px/1 FontAwesome;
		display: block;
		content: "\f005";
		color: #ccc;
		background: -webkit-linear-gradient(-45deg, #d9d9d9 0%, #b3b3b3 100%);
		-webkit-background-clip: text;
		background-clip:text;
		-webkit-text-fill-color: transparent;}
	.rating > label:hover:before,
	.rating > label:hover ~ label:before,
	.rating > label.selected:before,
	.rating > label.selected ~ label:before {
		color: #f0ad4e;
		background: -webkit-linear-gradient(-45deg, #fcb551 0%, #d69a45 100%);
		-webkit-background-clip: text;
		background-clip:text;
		-webkit-text-fill-color: transparent;}
		
/*--Form Favorite Heart Checkbox--*/
	input[type=checkbox]{ 
		display:none;}
	input[type=checkbox] + label:before{
		font-family: FontAwesome;
		display: inline-block;}
	input[type=checkbox] + label:before{ 
		content: "\f08a";
		color:#660000;}
	input[type=checkbox] + label:before{ 
		letter-spacing: 10px;}
	input[type=checkbox]:checked + label:before{ 
		content: "\f004"; 
		color:#660000;}
	input[type=checkbox]:checked + label:before{ 
		letter-spacing: 10px;}
	.favs{
		width:12em;
		margin:3% auto;}
	.favCheckbox{
		font-size:1.1em;}
			
/*--Form Buttons--*/		
	#formContainer .formButtons{
		text-align:center;}
	#formContainer .formButtons .btn{
		margin:6% 2%;
		border-radius:2px;
		border:none;
		padding:1.5% 2%;
		background-color:white;
		-moz-box-shadow:0 0 5px #000000;
		-webkit-box-shadow:0 0 5px #000000;
		box-shadow:0 0 5px #000000;}
	#formContainer .btn:hover{
		-moz-box-shadow:0 0 5px #7F7F7F;
		-webkit-box-shadow:0 0 5px #7F7F7F;
		box-shadow:0 0 5px #7F7F7F;}
			
/*--Validation Errors--*/
	#categoryError, #brandError, #nameError, #notesError{
		color:#843232;
		font-size:.9em;
		font-style:italic;
		padding-left:1em;}
	#ratingError{
		color:#843232;
		font-size:.9em;
		font-style:italic;}
		
/*--Media Queries--*/
	@media only screen and (max-width:1200px){
		#formContainer{
			width:80%;
			margin:1% auto;}
	}
	@media only screen and (max-width:768px){
		#formContainer{
			width:100%;
			margin:1% auto;}
		.col2,.col10{
			display:block;
			width:100%;}
		.sec{
			width:70%;}
		#navigationMenu a,#topButton a{
			background-color:rgba(255,255,255,.9);}
	}
	