/*--BEERate Accordion INDEX Styles--*/
/*--JQuery UI Accordion--*/
	#accordion-resizer {
		padding: 10px;
		width: 80%;
		margin:0 auto;}
	#accordion .ui-accordion-header{
		border:none;
		font-size:1.9em;}		
	#accordion .ui-accordion-header:first-of-type{
		background-color:#f4e662;}  
	#accordion .ui-accordion-header:nth-of-type(2){
		background-color:#F6D444;}  
	#accordion .ui-accordion-header:nth-of-type(3){
		background-color:#F6BB44;}  
	#accordion .ui-accordion-header:nth-of-type(4){
		background-color:#F4B130;} 
	#accordion .ui-accordion-header:nth-of-type(5){
		background-color:#d27627;} 
	#accordion .ui-accordion-header:nth-of-type(6){
		background-color:#712a11;} 
	#accordion .ui-accordion-header:nth-of-type(7){
		background-color:#4F1D0B;}  
	#accordion .ui-accordion-header:nth-of-type(8){
		background-color:#2F1106;}
	#accordion .ui-accordion-header:nth-of-type(9){
		background-color:#200b04;}
	#accordion .ui-accordion-header:nth-of-type(10){
		background-color:#000000;}

	.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, 
	.ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
		color:#ffffff;
		text-shadow: 0px 0px 2px rgba(25, 25, 25, 1);
	}

	.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, 
	a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover {
		
		text-shadow: 0px 0px 1px rgba(100, 100, 100, 1);
	}
		
/*--Main Content--*/
	.content-container{
		display: -ms-flex;
		display: -webkit-flex;
		display:flex;
		justify-content: center;
		-webkit-flex-flow: row wrap;
		-moz-flex-flow: row wrap;
		-ms-flex-flow: row wrap;
		flex-flow: row wrap;
	}
	.col{
		flex: 45%;
		max-width: 45%;
		padding:10px;
		margin:10px;
		display:inline-block;
		border:1px solid rgb(221,221,221);
		border-radius:2px;
		position:relative;}
	.beerImg, .beerHeading{
		display:inline-block;
		padding:1%;}
	.beerImg img{
		max-width:200px;
		max-height:150px;
		-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
		-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
		box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);}
	.beerNotes ul{
		padding-left:0px;
		list-style-type:none;}
	.beerNotes li{
		display:inline;
		padding:0 2% 0 0;}
	h4 {
		color:#843232;
		font-style:italic;
	}
		
/*--Icons--*/
	.beerHeading i{
		position: absolute;
		top:5px;
		right:5px;
		color:#660000;}
	.stars i{
		position:relative;
		color:#f0ad4e;
		display:inline;
		font-size:24px;}
	#Favs i{
	    position:absolute;
		top:18px;
		left:8px;
		color:#660000;
		font-size:1.1em;
		z-index:2;}
	#Favs i:hover{
	  color:white;}
		
/*--Media Queries--*/		
	@media only screen and (max-width:1200px){
		.col{
			flex: 95%;
			max-width: 95%;}
	}
	@media only screen and (max-width:700px){
		.ui-accordion .ui-accordion-content {
			padding:5px;}
		.col{
			margin:0;
			border:none;
			border-bottom:1px solid rgb(221,221,221);}
	}
	@media only screen and (max-width:525px){
		.ui-accordion .ui-accordion-content{
			padding:0;
		}
	}
	@media only screen and (max-width:430px){
		.beerImg, .beerHeading, .beerNotes ul{ 
			text-align:center;
			width:100%;}
		.col h2 {
			margin-bottom:8px;}
		.col h3 {
			margin:5px;}
		#accordion .ui-accordion-header {
			font-size:1.3em;}
	}
	@media only screen and (max-width:400px){
		#accordion-resizer{
			width:95%;}
	}