/*--Furniture Co Add Product Page Styles--*/
/*--Headers--*/
	h2{
		color:#337ab7;
		font-size:2.4em;
		font-family: 'Numans', sans-serif;
		font-weight:bold;
		margin-top:4%;
		text-align:center;}
	h3{
		font-family: 'Numans', sans-serif;
		font-weight:bold;
		margin-top:1%;
		text-align:center;
		font-size:1.5em;
		padding:15px}
		
/*--Add/Update Product Form--*/
	.mainContent{
		margin-top:35px;}
	form{
		width: 400px;
		margin:0 auto;
		border-radius: 3px;
		padding-top:2em;
		padding-bottom:1em;
		background:rgba(17,17,17,.2);
	letter-spacing: 0.05em;}
	form p {
		padding-left:6%;
		padding-right:6%;}
	input[type="text"], textarea {
		background-color:rgba(255,255,255,0.4);
		border:none;
		border-radius:2px;
		font-size: medium;
		letter-spacing: 0.05em; 
		width:100%;
		margin-top:2%;
		margin-bottom:2%;
		padding:1%;
		letter-spacing: 0.05em;
		margin:0 auto;}
	
	input[type='file']{
		color:#337ab7;}
	.prevUploadedImage{
		color:#337ab7;
		font-size:.9em;}
	.radio{
		text-align:center;
		font-family: 'Numans', sans-serif;}
	.radio input[type=radio]{
		position:static;
		margin-left:0px;}
	input[type=radio]{
		margin:0;}
	.note{
		font-size:.7em;
		display:inline-block;}
	input[type="text"], textarea, input[type=radio] {
		margin-bottom:3%;
	}
	label{
		text-align:left;
		margin-bottom:.4em;
		font-size:1.1em;
		color:black;
		font-family: 'Numans', sans-serif;
		font-weight:initial;}

/*--Form Buttons--*/
	.formButtons{
		text-align:center;
		margin-bottom:3%;}
	.formButtons .btn{
		margin:2%;}
		
/*--Form Results--*/
	.error{
		color:#b20000;
		text-align:center;
		font-size:.9em;
		font-style:italic;}
	.check{
		font-size:1.7em;
		color:#329932;
		font-family: 'Numans', sans-serif;}
		
/*--Media Queries--*/
	@media only screen and (max-width:768px){
		h3{
			font-size:1.2em;
			padding:10px;}
		.mainContent{
			margin-top:60px;}
	}
	@media only screen and (max-width:450px){
		form {
			width:100%;
		}
		.container {
			padding-left:0;
			padding-right:0;
		}
		.mainContent{
			margin-top:80px;}
	}
	