/*--Furniture Co Contact Page Styles--*/
	h3 {
		font-size:1.5em;
	}
/*--Contact Form--*/
	form{
		font-size: 1.3em;
		letter-spacing: 0.05em;
		padding-left: 5%;
		padding-right: 5%;}  
	.form-control{
		background-color:rgba(255,255,255,0.4);}
	option {
	  padding:2px;}
	label{
		font-family: 'Numans', sans-serif;}  
	input[type="text"],
	input[type="email"],
	input[type="tel"],
	#commentTextarea {
		font-size: medium;
		letter-spacing: 0.05em;}
	button{
		padding:1% 2%;
		margin:4% 1%;}
	.form-check-label {
		font-size:.6em;
		font-weight:initial;}
	.error{
		color:#b20000;
		font-style:italic;}
		
/*--Media Queries--*/
	@media only screen and (min-width: 1200px){
		form {
			padding-left: 20%;
			padding-right: 20%;} 
	}
	@media only screen and (max-width:768px){
		h3{
			font-size:1.2em;}
	}
	@media only screen and (min-width: 550px){
	  form {
			padding-left: 16%;
			padding-right: 16%;} 
	}
	@media only screen and (max-width: 500px){
	  form {
			font-size: 1.1em;} 
	}