/*--Furniture Co Login Page Styles--*/
/*--Headers--*/
	h2{
		font-size:2.8em;
		font-family: 'Numans', sans-serif;
		font-weight:bold;
		margin-top:4%;
		text-align:center;}
	h2 a{
		text-align:center;
		color:black;}
	h2 a:hover{
		text-decoration:none;}
	h2 a img {
		width:101px;}
	h3{
		color:#337ab7;
		font-family: 'Numans', sans-serif;
		font-weight:bold;
		padding-top:2%;
		text-align:center;
		font-size:1.6em;}
/*--Login Form--*/
	#loginContainer{
		text-align:center;
		width: 400px;
		margin:0 auto;
		border-radius: 3px;
		padding-top:1em;
		padding-bottom:1em;
		background:rgba(17,17,17,.2);}
	#loginContainer h3{
		margin-top:6%;
		padding-bottom:2%;
		font-family: 'Numans', sans-serif;}
	input[type="text"],input[type="password"]{
		background-color:rgba(255,255,255,0.4);
		border:none;
		border-radius:2px;
		font-size: medium;
		letter-spacing: 0.05em; 
		width:100%;
		margin-top:2%;
		margin-bottom:2%;
		padding:1%;}
	label{
		text-align:left;
		padding-left:.8em;
		margin-bottom:.4em;
		font-size:1.2em;
		color:black;
		font-weight:initial;}
		
/*--Login Form Buttons--*/
	.formButtons{
		text-align:center;}
	.formButtons .btn{
		margin:6% 2%;}
		
/*--Media Queries--*/
	@media only screen and (max-width: 768px) {
		h2{
			font-size:2.1em;}
		h2 a img {
			width:75px;}
		h3{
			font-size:1.1em;
			padding:10px;}
	}
	@media only screen and (max-width:530px){
		#loginContainer{
			width:100%;}
		h2{
			font-size:1.8em;}
		h2 a img {
			width:60px;}
		.label{
			font-size:1em;}
	}