/*--Furniture Co Select Page Styles--*/
/*--Header--*/
	h2{
		color:#337ab7;
		font-size:2.4em;
		font-family: 'Numans', sans-serif;
		font-weight:bold;
		margin-top:4%;
		text-align:center;}
		
/*--Desktop Product Table--*/
	.mainContent{
		margin-top:35px;}
	table{
		width:90%;
		margin:2em auto;
		border-collapse:collapse;}
	td{
		padding:4px 5px;
		text-align:left;}
	td + td {
		border-left:1px solid rgba(17,17,17,.2);
		padding:.6em;}
	tr:nth-child(even) {
		background:rgba(99,99,99,.08);} 
	tr:hover{
		background-color:rgba(17,17,17,.2);}
	tr:first-child:hover {
		background-color:transparent;}
	tr:first-child td:last-child {
		border-left:1px solid rgba(17,17,17,.2);}
	td:nth-child(7),td:last-child {
		border-top:none;
		border-bottom:none;
		border-left:none;	
		padding:5px;}
	td a{
		color:black;}
	td a:hover{
		color:#B33A3A;
		background-color:transparent;}
	.tableHeader{
		font-size:1.2em;
		font-weight:bold;
		background-color:transparent;
		font-family: 'Numans', sans-serif;}

/*--JQuery Tooltip--*/
	.tooltip {
		position: relative;
		display: inline-block;}
	.tooltip .tooltiptext {
		visibility: hidden;
		width: 80px;
		background-color: #555;
		color: #fff;
		text-align: center;
		border-radius: 6px;
		padding: 5px 0;
		position: absolute;
		z-index: 1;
		bottom: 100%;
		left: 50%; 
		margin-left: -40px;
		opacity: 0;
		transition: opacity 1s;}
	.tooltip .tooltiptext::after {
		content: "";
		position: absolute;
		top: 100%;
		left: 50%;
		margin-left: -5px;
		border-width: 5px;
		border-style: solid;
		border-color: #555 transparent transparent transparent;}
	.tooltip:hover .tooltiptext {
		visibility: visible;
		opacity: 1;}
	.tooltip{
		opacity:1;}
	a.tooltip{
		font-size:1.2em;}

/*--Mobile Product List--*/
	.mainContentMobile {
		display:none;
		padding:4% 6% 2% 6%;
	}
	.mainContentMobile  p {
		border-bottom:1px solid #c8c8c8;
		margin-bottom:2%;
		padding-bottom:2%;
	}
	.mainContentMobile strong {
		font-family: 'Numans', sans-serif;
		text-decoration:underline;
		font-size:15px;
	}
	.mainContentMobile  a {
		font-size:1.2em;
	}


/*--Media Queries--*/
	@media only screen and (max-width: 1200px){  
		.row{
			margin-top:8%;}
	}
	@media only screen and (max-width: 375px){
		.row{
			margin-top:11%;}
	}
/*--Mobile Media Queries For Products List--*/
	@media only screen and (max-width: 992px) {
		.mainContent {
			display:none;
		}
		.mainContentMobile {
			display:block;
		}
	}
	@media only screen and (max-width: 768px) {
		.mainContentMobile {
			margin-top:60px;
		}
	}
	@media only screen and (max-width: 500px) {
		.mainContentMobile {
			margin:2%;
			margin-top:80px;
		}
		.mainContentMobile  p {
			margin-bottom:4%;
			padding-bottom:4%;
		}
	}