/*---DMACC Portfolio Day Website Styles---*/
/* SCSS VARIABLES */
/* GENERAL */
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

html, body {
  max-width: 100%;
  overflow-x: hidden;
  letter-spacing: .04em; }

/* Navigation Bar */
.navbar {
  margin: 0;
  padding: 0; }
  .navbar .desktop-menu-item {
    padding: 14px 17px; }

/* Navbar Brand Logo Invert Color On Hover */
.navbar-brand:hover {
  -webkit-filter: invert(100%);
  filter: invert(100%); }

.navbar-light .navbar-nav .nav-link {
  color: #9d9d9d;
  font-size: 1.2em;
  font-family: 'proxima_nova_ltsemibold';
  font-weight: bold; }

.navbar-light .navbar-nav .nav-link:focus {
  color: #ffffff; }

.navbar-light .navbar-nav .nav-link:hover {
  color: #ffffff; }

.navbar-toggler {
  margin: 1% 3%;
  font-size: 1.2rem;
  /*This changes the size of the toggler*/ }

.navbar-light .navbar-toggler {
  background: rgba(157, 157, 157, 0.4); }

.navbar-default {
  background: rgba(0, 0, 0, 0.7); }

/* Intro Section */
.header-container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 10; }
  .header-container h2 {
    font-family: 'proxima_nova_ltsemibold';
    font-size: 4em;
    color: #9d9d9d; }

.mix-logo {
  width: 40vw; }

/*----Old TV Scanlines Screen Effect----*/
.scanlines {
  position: relative;
  overflow: hidden; }

.scanlines:before,
.scanlines:after {
  display: block;
  pointer-events: none;
  content: '';
  position: absolute; }

.scanlines:before {
  width: 100%;
  height: 12px;
  z-index: 5;
  background: rgba(0, 0, 0, 0.3);
  opacity: 0.75;
  -webkit-animation: scanline 6s linear infinite;
  animation: scanline 6s linear infinite; }

.scanlines:after {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 4;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, transparent), color-stop(51%, rgba(0, 0, 0, 0.3)));
  background: linear-gradient(to bottom, transparent 50%, rgba(0, 0, 0, 0.3) 51%);
  background: -webkit-linear-gradient(top, transparent 50%, rgba(0, 0, 0, 0.3) 51%);
  background: -o-linear-gradient(top, transparent 50%, rgba(0, 0, 0, 0.3) 51%);
  background-size: 100% 8px;
  -webkit-animation: scanlines 1s steps(60) infinite;
  animation: scanlines 1s steps(60) infinite; }

/* ANIMATE UNIQUE SCANLINE */
@-webkit-keyframes scanline {
  0% {
    -webkit-transform: translate3d(0, 200000%, 0);
    transform: translate3d(0, 200000%, 0); } }
@keyframes scanline {
  0% {
    -webkit-transform: translate3d(0, 200000%, 0);
    transform: translate3d(0, 200000%, 0); } }
@-webkit-keyframes scanlines {
  0% {
    background-position: 0 50%; } }
@keyframes scanlines {
  0% {
    background-position: 0 50%; } }
/* What is Mix? Section */
.mix-info {
  background: white;
  margin-top: 0.7em; }

.mix-info .mix-info-container {
  margin-top: 3%;
  margin-bottom: 3%; }

.mix-info .mix-info-container .mix-info-title {
  margin-bottom: 75px;
  font-family: "neoneonregular";
  font-size: 4.5em;
  text-align: center;
  font-weight: bold; }

.mix-info .mix-info-container .mix-info-content {
  margin: 0 auto;
  padding: 1% 3em;
  font-family: 'proxima_nova_ltsemibold'; }

.mix-heading {
  text-align: center; }

.mix-info .mix-info-container .mix-heading h3 {
  color: #D4295E;
  font-size: 1.6em; }

#mix-info .col-lg-6:first-child {
  padding: 1% 0 3% 5%;
  font-size: 1.3em; }

#mix-info .col-lg-6:nth-child(2) {
  padding: 1% 5% 3% 0; }

.mix-info-map {
  padding: 0 3em; }

/*----Section 3 Styles----*/
.center-people {
  text-align: center; }

#accordion p {
  margin-bottom: 0; }

.graphic {
  background: #5e4b8d;
  background: -moz-linear-gradient(top, #5e4b8d 0%, #5e4b8d 27%, #5e4b8d 54%, #d62960 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #5e4b8d), color-stop(27%, #5e4b8d), color-stop(54%, #5e4b8d), color-stop(100%, #d62960));
  background: -webkit-linear-gradient(top, #5e4b8d 0%, #5e4b8d 27%, #5e4b8d 54%, #d62960 100%);
  background: -o-linear-gradient(top, #5e4b8d 0%, #5e4b8d 27%, #5e4b8d 54%, #d62960 100%);
  background: -ms-linear-gradient(top, #5e4b8d 0%, #5e4b8d 27%, #5e4b8d 54%, #d62960 100%);
  background: -webkit-gradient(linear, left top, left bottom, from(#5e4b8d), color-stop(27%, #5e4b8d), color-stop(54%, #5e4b8d), to(#d62960));
  background: linear-gradient(to bottom, #5e4b8d 0%, #5e4b8d 27%, #5e4b8d 54%, #d62960 100%); }

.graphic {
  background: #5e4b8d;
  background: -moz-linear-gradient(top, #5e4b8d 0%, #5e4b8d 27%, #5e4b8d 54%, #d62960 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #5e4b8d), color-stop(27%, #5e4b8d), color-stop(54%, #5e4b8d), color-stop(100%, #d62960));
  background: -webkit-linear-gradient(top, #5e4b8d 0%, #5e4b8d 27%, #5e4b8d 54%, #d62960 100%);
  background: -o-linear-gradient(top, #5e4b8d 0%, #5e4b8d 27%, #5e4b8d 54%, #d62960 100%);
  background: -ms-linear-gradient(top, #5e4b8d 0%, #5e4b8d 27%, #5e4b8d 54%, #d62960 100%);
  background: linear-gradient(to bottom, #5e4b8d 0%, #5e4b8d 27%, #5e4b8d 54%, #d62960 100%); }

.photo {
  background: #d4295f;
  background: -moz-linear-gradient(top, #d4295f 0%, #d62960 60%, #f59536 93%, #fbac2d 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #d4295f), color-stop(60%, #d62960), color-stop(93%, #f59536), color-stop(100%, #fbac2d));
  background: -webkit-linear-gradient(top, #d4295f 0%, #d62960 60%, #f59536 93%, #fbac2d 100%);
  background: -o-linear-gradient(top, #d4295f 0%, #d62960 60%, #f59536 93%, #fbac2d 100%);
  background: -ms-linear-gradient(top, #d4295f 0%, #d62960 60%, #f59536 93%, #fbac2d 100%);
  background: linear-gradient(to bottom, #d4295f 0%, #d62960 60%, #f59536 93%, #fbac2d 100%); }

.web {
  background: #fbad2f;
  background: -moz-linear-gradient(top, #fbad2f 0%, rgba(251, 173, 47, 0.71) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #fbad2f), color-stop(100%, rgba(251, 173, 47, 0.71)));
  background: -webkit-linear-gradient(top, #fbad2f 0%, rgba(251, 173, 47, 0.71) 100%);
  background: -o-linear-gradient(top, #fbad2f 0%, rgba(251, 173, 47, 0.71) 100%);
  background: -ms-linear-gradient(top, #fbad2f 0%, rgba(251, 173, 47, 0.71) 100%);
  background: linear-gradient(to bottom, #fbad2f 0%, rgba(251, 173, 47, 0.71) 100%); }

/* Images Effects */
#graphicDesignStudents img:hover, #photo img:hover, #webDev img:hover {
  cursor: pointer; }

.picture {
  border-radius: 2px; }

/* Accordion Glitch Image Border */
.imageBorder {
  margin: 4%;
  position: relative;
  display: inline-block;
  text-decoration: none;
  z-index: 1; }

.imageBorder:before,
.imageBorder:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 2px; }

.imageBorder:before {
  background-color: #00ffff;
  z-index: -1; }

.imageBorder:after {
  background-color: #ff00ff;
  z-index: -2; }

.imageBorder:hover .link-inner {
  -webkit-animation: glitchy 0.5s ease 1;
  animation: glitchy 0.5s ease 1; }

.imageBorder:hover:before {
  -webkit-animation: glitchy 0.5s ease 0.5s infinite;
  animation: glitchy 0.5s ease 0.5s infinite; }

.imageBorder:hover:after {
  animation: glitchy 0.5s ease infinite reverse; }

@-webkit-keyframes glitchy {
  0% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px); }
  25% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px); }
  50% {
    -webkit-transform: translate(2px, 2px);
    transform: translate(2px, 2px); }
  75% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px); }
  100% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px); } }
@keyframes glitchy {
  0% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px); }
  25% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px); }
  50% {
    -webkit-transform: translate(2px, 2px);
    transform: translate(2px, 2px); }
  75% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px); }
  100% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px); } }
/*Section 3 Headers Basic Neon Glow Text*/
.neon {
  font-family: 'neoneonregular';
  text-align: center;
  font-size: 4.5em; }

.pink {
  color: #ffffff;
  text-shadow: 0px 0px 200px #ff91fc, 0px 0px 30px #ff49fb, -1px -1px 5px #fff, 10px 1px 100px #af00b2; }

/*Section 3 BOX HOVER*/
.student-overlay {
  position: relative; }
  .student-overlay .student-overlay-info {
    position: absolute;
    top: auto;
    bottom: 0;
    left: 0;
    width: 100%;
    margin: 0;
    opacity: 0;
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    transform: translateY(100%);
    -webkit-transition: -webkit-transform 0.4s, opacity 0.2s 0.2s;
    -moz-transition: -moz-transform 0.4s, opacity 0.2s 0.2s;
    -webkit-transition: opacity 0.2s 0.2s, -webkit-transform 0.4s;
    transition: transform 0.4s, opacity 0.2s 0.2s; }
  .student-overlay h3 {
    background: rgba(1, 1, 1, 0.5);
    position: absolute;
    bottom: 0;
    width: 100%;
    margin: 0;
    padding: 5px;
    opacity: 1;
    font-family: 'proxima_nova_scosfthin';
    font-size: initial;
    color: white; }

.student-overlay:hover .student-overlay-info {
  opacity: 1;
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
  transform: translateY(0px);
  -webkit-transition: -webkit-transform 0.4s, opacity 0.1s;
  -moz-transition: -moz-transform 0.4s, opacity 0.1s;
  transition: transform 0.4s, opacity 0.1s; }

/*MODAL*/
/* The Modal (background) */
.bioModal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 12;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.7);
  /* Black w/ opacity */
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0); }

/* Modal Close Button */
.close {
  background-color: rgba(0, 0, 0, 0.8);
  padding: 2px 8px 8px 9px;
  color: #9d9d9d;
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 13;
  font-size: 2em;
  font-weight: bold;
  border-radius: 2px 0 2px 2px; }

.close:hover,
.close:focus {
  color: #ffffff;
  text-decoration: none;
  cursor: pointer; }

/* Modal Content */
.modalContent {
  border-radius: 2px;
  position: relative;
  -webkit-box-shadow: 0px 0px 1px 1px #191919;
  box-shadow: 0px 0px 1px 1px #191919;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  color: #fff;
  background: #5e4b8d;
  background: -moz-linear-gradient(-45deg, #5e4b8d 0%, #d4295e 50%, #fbad2f 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, #5e4b8d), color-stop(50%, #d4295e), color-stop(100%, #fbad2f));
  background: -webkit-linear-gradient(-45deg, #5e4b8d 0%, #d4295e 50%, #fbad2f 100%);
  background: -o-linear-gradient(-45deg, #5e4b8d 0%, #d4295e 50%, #fbad2f 100%);
  background: -ms-linear-gradient(-45deg, #5e4b8d 0%, #d4295e 50%, #fbad2f 100%);
  background: -webkit-linear-gradient(315deg, #5e4b8d 0%, #d4295e 50%, #fbad2f 100%);
  background: -o-linear-gradient(315deg, #5e4b8d 0%, #d4295e 50%, #fbad2f 100%);
  background: linear-gradient(135deg, #5e4b8d 0%, #d4295e 50%, #fbad2f 100%);
  background-size: 150% 150%; }

#modalPhoto img {
  display: block;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding: 8% 0 8% 8%; }

/* Modal Text */
#modalText {
  padding: 6% 6% 6% 0;
  font-family: 'proxima_nova_ltsemibold';
  color: #f5f5f5; }

#modalText h3 {
  margin-bottom: 0;
  margin-top: 5px; }

#modalText p {
  font-size: 1.3em;
  margin-top: 0;
  margin-bottom: 5px; }

.bioLinks {
  padding-top: 3.5%;
  padding-bottom: 4%; }

#modalText .bioLinks p {
  margin-bottom: 0; }

.bioLinks a {
  font-family: 'proxima_nova_ltsemibold';
  display: block;
  color: #323232; }

.bioLinks a:hover {
  color: #ffffff; }

/* Modal In and Out Animation & Modal Background Animation */
.bioModal.expand {
  -webkit-transform: scaleY(0.01) scaleX(0);
  -ms-transform: scaleY(0.01) scaleX(0);
  transform: scaleY(0.01) scaleX(0);
  -webkit-animation: unfoldIn 1s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
  animation: unfoldIn 1s cubic-bezier(0.165, 0.84, 0.44, 1) forwards; }

.bioModal.expand .modalContent {
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-animation: Gradient 11s ease infinite, zoomIn 0.5s 0.8s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
  animation: Gradient 11s ease infinite, zoomIn 0.5s 0.8s cubic-bezier(0.165, 0.84, 0.44, 1) forwards; }

.bioModal.expand.collapse .modalContent {
  -webkit-animation: Gradient 11s ease infinite, zoomOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
  animation: Gradient 11s ease infinite, zoomOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards; }

.bioModal.expand.collapse {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-animation: unfoldOut 1s 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
  animation: unfoldOut 1s 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) forwards; }

@-webkit-keyframes Gradient {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }
@-moz-keyframes Gradient {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }
@keyframes Gradient {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }
@-webkit-keyframes unfoldIn {
  0% {
    -webkit-transform: scaleY(0.005) scaleX(0);
    transform: scaleY(0.005) scaleX(0); }
  50% {
    -webkit-transform: scaleY(0.005) scaleX(1);
    transform: scaleY(0.005) scaleX(1); }
  100% {
    -webkit-transform: scaleY(1) scaleX(1);
    transform: scaleY(1) scaleX(1); } }
@keyframes unfoldIn {
  0% {
    -webkit-transform: scaleY(0.005) scaleX(0);
    transform: scaleY(0.005) scaleX(0); }
  50% {
    -webkit-transform: scaleY(0.005) scaleX(1);
    transform: scaleY(0.005) scaleX(1); }
  100% {
    -webkit-transform: scaleY(1) scaleX(1);
    transform: scaleY(1) scaleX(1); } }
@-webkit-keyframes unfoldOut {
  0% {
    -webkit-transform: scaleY(1) scaleX(1);
    transform: scaleY(1) scaleX(1); }
  50% {
    -webkit-transform: scaleY(0.005) scaleX(1);
    transform: scaleY(0.005) scaleX(1); }
  100% {
    -webkit-transform: scaleY(0.005) scaleX(0);
    transform: scaleY(0.005) scaleX(0); } }
@keyframes unfoldOut {
  0% {
    -webkit-transform: scaleY(1) scaleX(1);
    transform: scaleY(1) scaleX(1); }
  50% {
    -webkit-transform: scaleY(0.005) scaleX(1);
    transform: scaleY(0.005) scaleX(1); }
  100% {
    -webkit-transform: scaleY(0.005) scaleX(0);
    transform: scaleY(0.005) scaleX(0); } }
@-webkit-keyframes zoomIn {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0); }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1); } }
@keyframes zoomIn {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0); }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1); } }
@-webkit-keyframes zoomOut {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1); }
  100% {
    -webkit-transform: scale(0);
    transform: scale(0); } }
@keyframes zoomOut {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1); }
  100% {
    -webkit-transform: scale(0);
    transform: scale(0); } }
#graphic-design {
  background: #5e4b8d; }

#photography {
  background: #d4295f; }

#web-development {
  background: #fbad2f; }

#video-production {
  background: #f37b1f; }

#photography, #web-development, #graphic-design, #video-production {
  margin: 0;
  padding: 1em;
  font-size: 3em; }

/* Footer */
footer {
  background: rgba(0, 0, 0, 0.7);
  margin: 0;
  text-align: center;
  padding: 2em 1em 1em 1em;
  font-family: 'proxima_nova_scosfthin';
  font-size: 1em; }

.fa {
  padding: 10px;
  font-size: 30px;
  width: 50px;
  border-radius: 50%;
  border: none;
  text-decoration: none;
  margin: 3% 3%;
  transition: all 1s ease; }

.fa-facebook {
  background: #3B5998;
  color: white; }

.fa-instagram {
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  color: white; }

.fa:hover {
  opacity: 0.7;
  color: black;
  text-decoration: none; }

footer p {
  color: #9d9d9d; }

footer p a {
  color: #9d9d9d; }

footer p a:hover {
  color: #ffffff; }

footer h3 {
  text-transform: uppercase;
  font-family: 'proxima_nova_ltsemibold';
  font-size: 1.1em;
  color: #9d9d9d; }

/* Up Button */
#fixedBtn {
  position: fixed;
  bottom: 8%;
  right: 1.5%;
  z-index: 15; }

#toTopBtn {
  border-radius: 2px;
  font-family: Georgia;
  color: #9d9d9d;
  font-size: 26px;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 7px 10px 1px 10px;
  -webkit-box-shadow: 0px 0px 6px 1px rgba(75, 75, 75, 0.5);
  -moz-box-shadow: 0px 0px 6px 1px rgba(75, 75, 75, 0.5);
  box-shadow: 0px 0px 6px 1px rgba(75, 75, 75, 0.5);
  text-decoration: none;
  transition: 0.6s ease; }

#toTopBtn:hover {
  color: #ffffff;
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.8);
  box-shadow: 0px 0px 0px 0px rgba(75, 75, 75, 0.5); }

/* MEDIA QUERIES */
/* Navigation Media Queries */
@media only screen and (max-width: 1450px) {
  .navbar-light .navbar-nav .nav-link {
    font-size: 1.1em; }

  .navbar-nav .nav-link {
    padding-right: 0;
    padding-left: 0; }

  .nav-link {
    padding: .5rem; } }
@media only screen and (max-width: 1300px) {
  .navbar-light .navbar-nav .nav-link {
    font-size: 1em; } }
@media only screen and (min-width: 1200px) {
  .navbar-expand-xl .navbar-nav .nav-link {
    padding-right: 0;
    padding-left: 0; } }
/*Section 1 Media Queries*/
@media only screen and (max-width: 1000px) {
  .header-container {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10; }

  .mix-logo {
    width: 50vw; }

  .header-container h2 {
    position: relative;
    padding-left: 0.5em; } }
@media only screen and (max-width: 1400px) {
  .mix-logo {
    width: 50vw; } }
@media only screen and (max-width: 1150px) {
  .mix-logo {
    width: 60vw; } }
@media only screen and (max-width: 700px) {
  .header-container {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10; }

  .mix-logo {
    width: 100vw; }

  .header-container h2 {
    position: relative;
    padding-left: 0.5em; } }
/*Intro Section Landscape Media Queries*/
@media screen and (max-width: 850px) and (orientation: landscape) {
  .header-container {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    padding-top: 3%; }

  .mix-logo {
    width: 50vw; }

  .header-container h2 {
    font-size: 2rem;
    margin-bottom: 0rem; } }
/* Section 2 Media Queries */
@media only screen and (max-width: 991px) {
  #mix-info .col-lg-6:first-child, #mix-info .col-lg-6:nth-child(2) {
    padding: 2% 5%;
    font-size: 1.2em; }

  .mix-info-title {
    padding-top: 1em; }

  .mix-info .mix-info-container {
    margin-bottom: 3em; } }
@media only screen and (max-width: 767px) {
  .mix-info {
    height: 100%; }

  .mix-info .mix-info-container .mix-info-title {
    font-size: 3.5em; } }
@media only screen and (max-width: 605px) {
  #mix-info .col-lg-6:first-child, #mix-info .col-lg-6:nth-child(2) {
    padding: 3%;
    font-size: 1.2em; }

  .mix-info .mix-info-container .mix-info-content, .mix-info-map {
    padding: 1% 2em; }

  .mix-info .mix-info-container .mix-info-title {
    font-size: 3em; }

  .mix-info .mix-info-container .mix-heading h3 {
    font-size: 1.5em; }

  #portfolioDayCountDown {
    font-size: 1.9em; } }
@media only screen and (max-width: 490px) {
  .mix-info .mix-info-container .mix-info-title {
    font-size: 2.7em; }

  .mix-info .mix-info-container .mix-heading h3 {
    font-size: 1.3em; }

  #portfolioDayCountDown {
    font-size: 1.7em; }

  #mix-info .col-lg-6:first-child, #mix-info .col-lg-6:nth-child(2) {
    padding: 2% 5%;
    font-size: 1em; } }
/* Section 3 & Images Media Queries */
@media only screen and (max-width: 851px) {
  .picture {
    width: 150px; }

  .imageBorder {
    margin: 3%; }

  .ui-accordion .ui-accordion-content {
    padding: 2%; } }
@media only screen and (max-width: 600px) {
  .imageBorder {
    margin: 2%; }

  .ui-accordion .ui-accordion-content {
    padding: 1%; } }
@media only screen and (max-width: 330px) {
  .imageBorder {
    margin: 1.5%; } }
/* Modal Media Queries */
@media only screen and (max-width: 991px) {
  #modalPhoto img {
    width: 70%;
    padding: 6% 7% 3% 7%;
    margin: 0 auto; }

  #modalText {
    padding: 0 7% 6% 7%;
    width: 70%;
    margin: 0 auto; } }
@media only screen and (max-width: 768px) {
  #modalText h3 {
    font-size: 1.3em; }

  #modalText p {
    font-size: 1.1em; } }
@media only screen and (max-width: 600px) {
  .modalContent {
    width: 100%; }

  #modalPhoto img {
    width: 95%;
    padding-bottom: 1%; }

  #modalText {
    padding: 0 6% 2% 6%;
    width: 95%;
    margin: 0 auto; } }
@media only screen and (max-width: 425px) {
  .glitch {
    font-size: 2.5em; } }
/* iPhone SE and other small phones */
@media only screen and (max-width: 350px) {
  #photography, #web-development, #graphic-design {
    margin: 0;
    padding: 1em;
    font-size: 2.5em; } }
@media only screen and (max-width: 390px) {
  .header-container h2 {
    font-size: 3em; } }
/*Footer Media Query*/
@media only screen and (max-width: 991px) {
  div.col-lg-4 {
    margin-bottom: 3.5%; }

  footer .fa {
    margin: 0 .5rem .5rem .5rem; }

  footer p {
    margin-bottom: 0; } }
@media only screen and (max-width: 768px) {
  footer {
    padding-top: 6%; }

  div.col-lg-4 {
    margin-bottom: 4%; } }
@media only screen and (max-width: 400px) {
  footer {
    padding-top: 8%;
    font-size: .9em; }

  div.col-lg-4 {
    margin-bottom: 4.5%; }

  footer h3 {
    font-size: 1em; } }

/*# sourceMappingURL=main.css.map */
