/*--Data Visualization Styles--*/

/*--HeatMap Iowa UFO Sightings--*/
#map {
    height: 50%;
    width:90%;
    margin:0 auto;
}
/*--GeoChart US UFO Sightings--*/
#geochart-colors{
    width:90%;
    height:50%;
    margin:0 auto;
}
#floating-panel {
    text-align:center;
    line-height: 30px;
}
#floating-panel button{
    margin-top:1%;
    border:thin solid rgba(71,71,71,1);
}
button{
    border-radius:1px;
    border:none;
    padding:5px;
    background-color:#f7f7f7;
}
button:hover{
    background-color:#666666;
    color:white;
}
/*--Main--*/
html, body {
    height: 100%;
    letter-spacing:.03em;
    background-color:#f9f9f9;
}
h1 {
    margin-top:2%;
}
h1,h2,h3 {
    text-align:center;
    color:#666666;
}
h2{
    text-transform:uppercase;
    margin-top:6%;
    text-decoration:underline;
}
h2 img {
    vertical-align:middle;
    padding-right:1%;
}
#coffeeLogo {
    width:50px;
}
.ufoLogo {
    width:105px;
}
p {
    padding-left:5%;
    font-size:16px;
    color:#999999;
}
.bottom {
    padding-bottom:5%;
}
a {
    color:#666666;
}
a:hover{
    color:black;
}
/*--Scatter Plot Starbucks--*/
#myDiv {
    width:90%;
    height:600px;
    margin:0 auto;
}
/*--Media Queries--*/
@media only screen and (max-width: 1024px){
  h1 {
    font-size:2em;
  }
  h2 {
    font-size:1.3em;
  }
  h3 {
    font-size:.9em;
  }
  #coffeeLogo {
    width:30px;
  }
  .ufoLogo {
    width:70px;
  }
}
@media only screen and (max-width: 768px){
  h1 {
    font-size:1.8em;
  }
  h2 {
    font-size:1.1em;
    margin-top:8%;
  }
  h3 {
    font-size:.8em;
  }
  #coffeeLogo {
    width:30px;
  }
  .ufoLogo {
    width:60px;
  }
}
@media only screen and (max-width: 500px){
  h1 {
    font-size:1.5em;
  }
  h2 {
    font-size:.9em;
    margin-top:10%;
  }
  h3 {
    font-size:.7em;
  }
  #coffeeLogo {
    width:20px;
  }
  .ufoLogo {
    width:40px;
  }
}