/*-----Zoom N Groom - Media Queries Example Styles-----*/
/*-----MAIN STYLES-----*/
@import url('https://fonts.googleapis.com/css?family=Sonsie+One');
* {
    box-sizing: border-box;
}
.row::after {
    content: "";
    clear: both;
    display: table;
}
[class*="col-"] {
    float: left;
    padding: 15px 0;
}
body {
    background-color:#E3E8E8;
	color:#454C54;
	font-family:Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
}
#mainImg {
	max-width: 100%;
    height: auto;
	padding-left:3%;
	padding-right:3%;
	margin-bottom:2%;
}

.main {
	h1,p,ul,li {
		padding-left:3%;    
		padding-right:3%;    
	}
}
.mainList {
	list-style-type:none;
	li {
		margin-bottom:1%;
		padding-top:.5%;
		padding-bottom:.5%;
		border-left:3px solid #0099cc;
	}
}
p{
	line-height:1.5em;
	font-size:1.2em;
	letter-spacing:1.3px;
}
h1, h2, li {
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	letter-spacing:1.1px;
}
h3{
	font-size:1.3em;
	letter-spacing:1.3px;
	border-bottom:2px solid #e0b20b;
	color:#454C54;
	margin-left:5%;
	margin-right:5%;
}
h1 {
	text-align:center;
	color:#0099cc;
}
.italicText{
	font-style:italic;
	font-weight:bold;
}
/*-----HEADER STYLES-----*/
.header {
    background-color: #e0b20b;
    color: #0099cc;
    padding: 15px;
	text-align:center;
	h1{
		font-family: 'Sonsie One', cursive;
		font-size:2.4em;
	}
}
/*-----NAVIGATION STYLES-----*/
.menu ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
	text-align:center;
}
.menu li {
	display:inline-block;
    padding: 11px 3%;
    margin-bottom: 7px;
    color: #0099cc;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	text-align:center;
	background-color:#e3e8e8; 
	border-left: 3px solid #0099cc;
	border-right: 3px solid #0099cc;
	&:hover{
		border-left:3px solid #454C54;
		border-right:3px solid #454C54;
		padding-top:10px;
		padding-bottom:10px;
	}
	a {
		text-decoration:none;
		color: #0099cc;
		font-size:1.28em;
		transition:color .3s ease-in-out;
		&:hover{
			color:#454C54;
		}
	}
}
.col-12 {
	padding:30px 0 15px 0;
}
/*-----ASIDE STYLES-----*/
.aside {
	margin-right:1%;
	margin-left:1%;
    background-color: #E3E8E8;
    padding: 15px;
	padding-bottom:5%;
    color: #454C54;
    text-align: center;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	border-left: 3px solid #e0b20b;
	border-right: 3px solid #e0b20b;
	h2 {
		color:#e0b20b;
	}
	.moreServicesBtn{
		background-color:#e3e8e8; 
		font-family: Arial;
		color: #0099cc;
		font-size: 1.2em;
		padding: 2.5% 4%;
		text-decoration: none;
		border-left: 3px solid #0099cc;
		border-right: 3px solid #0099cc;
		transition:all .2s ease-in-out;
		&:hover{
			text-decoration: none;
			color:#454C54;
			border-left: 3px solid #454C54;
			border-right: 3px solid #454C54;
		}
	}
}
/*-----FOOTER STYLES-----*/
.footer {
    background-color: #e0b20b;
    color: #0099cc;
    text-align: center;
    font-size: 15px;
	font-weight:bold;
	padding: 15px;
	margin-top:5%;
	span{
		font-family: 'Sonsie One', cursive;
	}
}
/*-----MEDIA QUERIES-----*/
/*-----When screen is < 999px every column goes to 100% width-----*/
[class*="col-"] {              
    width: 100%;
}
/*-----When screen is < 550px the menu will change-----*/
@media only screen and (max-width: 550px){    
	.col-12 {
		li {
			padding:11px 7px;
		}
	}
}
/*-----When screen is < 399px the menu will change-----*/
@media only screen and (max-width: 399px){   
	.col-12 {
		li a{
			font-size:.9em;
		}
	}
	.header h1 {
		font-size:1.9em;
	}
	.header h2 {
		font-size:1.2em;
	}
	.main h1, .aside h2 {
		font-size:1.4em;
	}
	.footer p {
		font-size:.8em;
	}
}
/*-----When screen is > 900px columns will float side by side-----*/
@media only screen and (min-width: 1000px) {   
    .col-3 {
		width: 25%;
	}
    .col-9 {
		width: 75%;
	}
    .col-12 {
		width: 100%;
	}
}
/*-----When screen is > 1900px img will center-----*/
@media only screen and (min-width: 1900px){     
	.col-9 {
		h1,p,ul {
			padding-left:10%;    
			padding-right:5%;    
		}
	}
	#mainImg {
		padding-left:10%;    
		padding-right:5%;
	}
	.col-3 {
		padding-right:10%;
		width:30%;
	}
	.col-9 {
		width: 70%;
	}
}