/*-----Simply Yummy Bites - Dynamic Recipe Project Styles-----*/
/*------Navigation------*/
.navbar-brand {
	font-family: 'Lobster', cursive;
	font-size:1.8em;
	letter-spacing:.1em;}
.navbar-dark .navbar-brand {
	color:#ede9de;}
.navbar {
	background-color:#e3af37;
	box-shadow: 0px 0px 6px 1px rgba(75, 75, 75, 0.5);}
	
/*------Main------*/
body {
    padding-top: 54px;
	background-color:#ebe7db;
	font-family: 'Ubuntu', sans-serif;
	letter-spacing: 0.02em;}

h1{
	font-family: 'Montserrat Subrayada', sans-serif;
	color:#e3af37;}

.my-4{
	margin-top:3rem!important;}

h3 {
	font-family: 'Montserrat Subrayada', sans-serif;
	color:#e3af37;}
h4 {
	color:#9a8069;}

/*-Table-*/
table{
	width:95%;
	margin:0 auto;
	text-align:center;
	font-size:.9em;
	border-collapse: collapse;}
td + td,
th + th { border-left: 1px solid #d3d3d3; }
tr + tr { border-top: 1px solid #d3d3d3; }
td{
	padding:4px;}

/*-Thumbnail Images-*/
a {
	cursor:pointer;}
	
.recentRecipes {
	padding-top:2%;
	padding-bottom:2%;
}

/*-Ingredients List-*/	
.listStyleCircle{
	list-style-type:circle;
}

/*-Initial State of Hidden Ingredients & Instructions-*/
.hiddenIngredients{
	-webkit-padding-start:20px;
	display:none;}
.hiddenInstructions{
	-webkit-padding-start:20px;
	display:none;}
.hiddenInstructions p {
	font-size:.8rem;}
.hiddenRecipe{
	display:none;}
	
/*-Initial Recipe Displayed-*/
#showChiliRecipe{
	display:flex;}

/*-Ingredients & Instructions Arrow Rotate Transition-*/
.arrow,.arrow2 {
	-moz-transition: transform 1s;
	-webkit-transition: transform 1s;
	transition: transform 1s;}
.flip {
	transform: rotate(-180deg);}

/*-----Hidden Up Page Button-----*/
#topButton {
  -webkit-border-radius: 60;
  -moz-border-radius: 60;
  border-radius: 60px;
  border: solid #9A8069 1px; 
  font-family: Georgia;
  color: #ebe7db;
  font-size: 26px;
  font-weight:bold;
  background: rgba(154,128,105, 0.6);
  padding: 6px 10px 1px 10px;
  -webkit-box-shadow: 0px 0px 6px 1px rgba(75, 75, 75, 0.5);
  -moz-box-shadow: 0px 0px 6px 1px rgba(75, 75, 75, 0.5);
  box-shadow: 0px 0px 6px 1px rgba(75, 75, 75, 0.5);
  text-decoration: none;
  transition: 0.6s ease; }
	#topButton:hover {
		color: #ffffff;
		text-decoration: none;
		border: solid #ebe7db 1px; 
		background: #9A8069;
		box-shadow: 0px 0px 0px 0px rgba(75, 75, 75, 0.5);}

#btn2 {
  display: none;
  position: fixed;
  bottom: 8%;
  right: 1%;
  z-index: 2; }	
  
/*------Footer------*/
.brandFont{
	font-family: 'Lobster', cursive;
	letter-spacing:.1em;
	font-size:1.1em;}
footer{
	background-color:#e3af37;
	margin-top:3em;
	box-shadow: 0px 0px 6px 1px rgba(75, 75, 75, 0.5);}

/*------Media Queries------*/
@media (min-width: 992px) {
    body {
        padding-top: 56px;}
}
@media (min-width: 768px){
	.container {
		max-width:900px;}
}
@media only screen and (max-width: 800px) {
	#btn2 {
	  display: inline; } 
}
@media (max-width: 500px){ 
	body {
		font-size:.9rem;}
	h1 {
		font-size:1.6rem;}
	h3 {
		font-size:1.4rem;}
	h4 {
		font-size:1.3rem;}
}
@media (max-width: 400px){
	.navbar-brand {
		font-size:1.5em;
		letter-spacing:.08em;
		margin-right:0;}
}
